version: '2.1'
services:

networks:
  monitoring:
    driver: bridge

volumes:
  prometheus_data: {}

services:
  demo_m:
    build: demo_m
    container_name: demo_m
    expose:
      - 8081
    ports:
      - "8081:8081/tcp"

  node-exporter:
    image: prom/node-exporter:v1.3.1
    container_name: node-exporter
    restart: unless-stopped
    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro
    command:
      - '--path.procfs=/host/proc'
      - '--path.rootfs=/rootfs'
      - '--path.sysfs=/host/sys'
      - '--collector.filesystem.mount-points-exclude=^/(sys|proc|dev|host|etc)($$|/)'
    expose:
      - 9100
    ports:
      - "127.0.0.1:9100:9100/tcp"
    networks:
      - monitoring

  prometheus:
    image: prom/prometheus:v2.36.0
    container_name: prometheus
    hostname: prometheus
    restart: unless-stopped
    volumes:
      - ./prometheus.yml:/etc/prometheus/prometheus.yml:ro
      - prometheus_data:/prometheus:rw
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--web.console.libraries=/etc/prometheus/console_libraries'
      - '--web.console.templates=/etc/prometheus/consoles'
      - '--web.enable-lifecycle'
    expose:
      - 9090
    networks:
      - monitoring
    ports:
      - "127.0.0.1:9090:9090/tcp"

  grafana:
    image: grafana/grafana:8.5.4
    container_name: grafana
    depends_on:
      - prometheus
    networks:
      - monitoring
    ports:
      - "3000:3000/tcp"

# образ исталлятор дашборда и источника данных
# Dockerfile дает старт скрипту который после старта порта графаны, пуляет туда необходимые запросы

  after_install:
    build: ./after_install
    container_name: after_install
#    image: prom/after_install:latest
    depends_on:
      - grafana
    restart: "no"
    networks:
      - monitoring